@font-face {
    font-family: montserrat;
    src: url('montserrat-regular.otf');
}

body {
    width: 100%;
    height: 100%;
}

#backpic {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-image: url('galaxy.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#gradient {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%; 
    width: 100%;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(0deg, rgb(32, 32, 32) 10%, rgba(255,255,255,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(32,32,32,1) 10%, rgba(255,255,255,0) 100%);
    background: linear-gradient(0deg, rgba(32,32,32,1) 10%, rgba(255,255,255,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}

#headertext {
    position: absolute;
    top: 30%;
    left: 26%;
    color: rgb(255, 255, 255);
    font-family: montserrat;
    width: 45%;
    font-size: 300%;
    text-align: center;
}

#quotebutton {
    position: absolute;
    top: 48%;
    left: 44%;
    text-decoration: none;
    border: 2px solid rgb(1, 214, 168);
    border-radius: 7px;
    background: transparent;
    color: rgb(1, 214, 168);
    padding: 10px;
    font-size: 75%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#quotebutton:hover {
    transform: scale(1.1);
}

#myname {
    position: absolute;
    top: 5%;
    left: 12%;
    color: white;
    font-family: montserrat;
    width: 7%;
    text-align: center;
    font-size: 125%;
}

#homebutton {
    position: absolute;
    top: 5%;
    right: 25.2%;
    color: rgb(0, 158, 124);
    border-bottom: 2px solid rgb(0, 158, 124);
    font-family: montserrat;
}

#charityinfo {
    position: absolute;
    top: 5%;
    right: 17.7%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: montserrat;
    transition: all 0.1s ease-in-out;
}

#charityinfo:hover {
    transform: scale(1.05);
    border-bottom: 1px solid white;
}

#toprightstarted {
    position: absolute;
    top: 5%;
    right: 8%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: montserrat;
    transition: all 0.1s ease-in-out;
}

#toprightstarted:hover {
    transform: scale(1.05);
    border-bottom: 1px solid white;
}

@media only screen and (max-width: 1200px) {
    #headertext {
        font-size: 250%;
    }
    #myname {
        left: 44%;
    }
    #homebutton {
        top: 12%;
        right: 60%;
        color: rgb(1, 190, 149);
        font-weight: bold;
        border-bottom: 2px solid rgb(1, 190, 149);
    }
    #charityinfo {
        left: 44.6%;
        top: 12%;
    }
    #toprightstarted {
        top: 12%;
        left: 56%;
    }
}

@media only screen and (max-width: 1152px) {
    #quotebutton {
        top: 55%;
    }
}

@media only screen and (max-width: 1124px) {
    #headertext {
        font-size: 225%;
    }
    #quotebutton {
        top: 46%;
        left: 43.5%;
    }
}

@media only screen and (max-width: 1040px) {
    #quotebutton {
        top: 50%;
        left: 43.4%;
    }
}

@media only screen and (max-width: 940px) {
    #myname {
        left: 43%;
    }
    #homebutton {
        right: 60.7%;
    }
    #charityinfo {
        left: 43.9%;
    }
    #toprightstarted {
        left: 55.3%;
    }
}

@media only screen and (max-width: 900px) {
    #backpic {
        background-size: 140% 100%;
    }
}

@media only screen and (max-width: 880px) {
    #myname {
        left: 42%;
    }
    #charityinfo {
        left: 43%;
    }
    #toprightstarted {
        left: 54.4%;
    }
}

@media only screen and (max-width: 831px) {
    #quotebutton {
        left: 42%;
    }
}

@media only screen and (max-width: 792px) {
    #toprightstarted {

    }
}

@media only screen and (max-width: 780px) {
    #toprightstarted {
        left: 55%;
    }
    #charityinfo {
        left: 42.8%;
    }
}

@media only screen and (max-width: 750px) {
    #backpic {
        background-size: 170% 100%;
    }
}

@media only screen and (max-width: 740px) {
    #myname {
        left: 41.5%;
    }
    #homebutton {

    }
    #charityinfo {
        left: 42.5%;
    }
    #toprightstarted {

    }
}

@media only screen and (max-width: 730px) {
    #quotebutton {
        left: 41%;
    }
}

@media only screen and (max-width: 700px) {
    #myname {
        width: 100%;
        left: 0px;
        text-align: center;
    }
    #homebutton {
        right: 46.5%;
        border-bottom: none;
        text-decoration: underline;
        text-decoration-color: rgb(0, 158, 124);
        width: 100%;
        text-align: center;
        left: 0px;
        font-weight: bold;
    }
    #charityinfo {
        width: 100%;
        text-align: center;
        left: 0px;
        top: 17.5%;
    }
    #toprightstarted {
        width: 100%;
        top: 23%;
        text-align: center;
        left: 0px;
    }
    #headertext {
        left: 28%;
    }
    #quotebutton {
        left: 43%;
    }
}

@media only screen and (max-width: 668px) {
    #headertext {
        font-size: 200%;
    }
}

@media only screen and (max-width: 600px) {
    #backpic {
        background-size: 190% 100%;
    }
    #quotebutton {
        left: 42%;
    }
}

@media only screen and (max-width: 530px) {
    #backpic {
        background-image: url('galaxy.jpg');
    }
}

@media only screen and (max-width: 500px) {
    #quotebutton {
        left: 40%;
    }
}

@media only screen and (max-width: 450px) {
    #quotebutton {
        left: 39%;
    }
}

@media only screen and (max-width: 409px) {
    #backpic {
        background-size: 200% 100;
    }
}

@media only screen and (max-width: 360px) {
    #quotebutton {
        left: 36%;
    }
}

@media only screen and (max-width: 320px) {
    #quotebutton {
        left: 35%;
    }
}

@media only screen and (max-height: 740px) {
    #quotebutton {
        top: 69%;
    }
}